<!doctype html>
<html ng-app='myApp'>
    <head>
        <title>ng-include directives in AngularJS</title>
        <link href="style.css" rel='stylesheet' type='text/css'>
        <script src="angular.min.js" type='text/javascript'></script>
        <script src='controller.js' type='text/javascript'></script>
        <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">  
   <script src="http://code.angularjs.org/1.4.8/angular.js"></script>  
   <script src="http://code.angularjs.org/1.4.8/angular-resource.js"></script>
    
   <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.11.0.js"></script>  
        
    </head>
    <body ng-controller="myController"> 
        
        <table border='1'>
        	<tr>
		        <td  width='20%' align='center'><input ng-model="f.sno"></td>
		        <td  width='35%' align='center'> <input ng-model="f.name"></td>
		        <td  width='25%' align='center'><input ng-model="f.gender">
	        </td>
	        
        	</tr>
            <tr >
                <th width='20%' align='center' ng-click='sortColumn("sno")' ng-class='sortClass("sno")'>S.no</th>
                <th width='35%' align='center' ng-click='sortColumn("name")' ng-class='sortClass("name")'>Name</th>
                <th width='25%' align='center' ng-click='sortColumn("gender")' ng-class='sortClass("gender")'>Gender</th>
            </tr>
            <tr ng-repeat="person in persons|orderBy:column:reverse|filter:f|filter:paginate" ng-class-odd="'odd'">
                <td width='20%' align='center'>{{person.sno}}</td>                
                <td width='35%' align='center'>
                	 <span ng-hide="person.editing" ng-dblclick="editItem(person)">{{person.name}}</span>
	                <input ng-show="person.editing" ng-model="person.name" ng-blur="doneEditing(person)" autofocus />
                </td>
                <td width='25%' align='center'>
                 	 <span ng-hide="person.editing" ng-dblclick="editItem(person)">{{person.gender}}</span>
	                <input ng-show="person.editing" ng-model="person.gender" ng-blur="doneEditing(person)" autofocus />               	
                </td>
            </tr>
        </table>
         <pagination total-items="totalItems" ng-model="currentPage"  
             max-size="5" boundary-links="true"  
             items-per-page="numPerPage" class="pagination-sm">  
       </pagination> 
       
       
       
<div class="container">
    <section ng-app="myApp" ng-controller="myController as tab">
        <ul class="nav nav-pills">
            <li ng-class="{active:tab.isSet(1)}"><a href ng-click="tab.setTab(1)">Tab 1</a></li>
            <li ng-class="{active:tab.isSet(2)}"><a href ng-click="tab.setTab(2)">Tab 2</a></li>
            <li ng-class="{active:tab.isSet(3)}"><a href ng-click="tab.setTab(3)">Tab 3</a></li>
        </ul>
        
        <div ng-show="tab.isSet(1)">
             <h4>Tab 1</h4>
        </div>
        <div ng-show="tab.isSet(2)">
             <h4>Tab 2</h4>
        </div>
        <div ng-show="tab.isSet(3)">
             <h4>Tab 3</h4>
        </div>
    </section>
</div>	    
    </body>
    
    
    
</html>